@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --text: #e3dfde;
    --bg:  #1D2023;
    --accent: #55C2C3;
    --accent2: #d17b0a;
    --transparent: rgba(255, 255, 255, 0.6);
}

body {
    margin: 0;
    background-color: var(--bg);
    font-family: 'poppins', sans-serif;
    display: flex;
}

a {
    text-decoration: none;
}

 /* left side of page */

 .left {
    background: url(assets/scuba-scooter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    position: absolute;
    height: 100%;
 }

 .banner {
    height: 12vh;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    justify-content: center;
 }

.one, p.dark {
    background-color: var(--transparent);
 }

 img {
    height: 10vh;
    opacity: 1;
    padding-right: 2vh;
 }

 h2 {
    color: var(--bg);;
    font-size: 5vh;
 }

.dark {
    color:var(--bg);;
    text-align: center;
    height: 3vh;
    margin-top: 80vh;
}

 /* right side of page */

 .right {
    width: 60%;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
 }

 .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* text parts */

 p, a, label, input:focus {
    color: var(--text)
}

 .info, .info-main, button{
    word-spacing: 0.1rem;
    margin-left: 5vh;
    text-align: center;
    font-size: 2.5vh;
}

.info-main {
    font-size: 6vh;
}

span {
    color: var(--accent);
 }

/* form section */

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.form-fillin {
    display: flex;
}

.formright, .formleft {
    display: flex;
    justify-content: center;
}

 ul {
    list-style: none;
 }


li {
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 2vh;    
    font-size: 2vh;
}

label:focus-within {
    color: var(--accent2);
}

input {
    font-size: 2.5vh;
}

input:focus{
    outline: none;
    border: 2.5px solid var(--accent2);
    color: var(--bg);
}

/* button */

button {
    background-color: var(--text);
    color: #1D2023;
    padding: 10px 30px;
    border-radius: 3px;
    border: 3px solid var(--bg);
    margin-top: 2vh;
    margin-bottom: 0vh;

}

button:hover {
    background-color: var(--accent);
    cursor: pointer;
}

button:active {
    background-color: var(--bg);
    border: 3px solid var(--accent);
    color: var(--accent)
}

a:hover {
    color: var(--accent);
}

.small {
    font-size: 2vh;
}

.login {
    color: var(--accent);
    cursor: pointer;
}